body {
    font-size: large;
    white-space: normal;
    text-align: center;
    background-color: #cbecfc; /* Светлый фон */
    color: #454545; /* Цвет текста */
    margin: 1%;
    font-family: candara, sans-serif;
    background-image: url('https://i.pinimg.com/originals/d2/e7/10/d2e71040b54ca8112116de074d29520b.jpg'); 
    background-size: cover; /* Масштабирует изображение, чтобы оно полностью заполнило фон */
    background-position: center;
    background-repeat: no-repeat; /* Не повторяет изображение */
}

.a {
    display: flex;
    margin: 2% 10%;
    text-align: left; 
    align-items: center; /* Выравнивание по центру по вертикали */
    color: #54c4fc;
}
.a img {
    max-width: 20%; /* Ограничение ширины картинки */
    border-radius: 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5%; /* Отступ между картинкой и текстом */
}

main {
    background-color: #c1e4fc; /* фон для формы */
    padding: 2%;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2% auto;
    max-width: 40%; /* Максимальная ширина формы */
}
select, input[type="date"], button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #69c8fb; /* Цвет рамки */
}
button {
    background-color: #2eadfa; /* цвет кнопки */
    color: #fafbfc; /* текст на кнопке */
    cursor: pointer;
}
button:hover {
    background-color: #54c4fc; /* при наведении */
}
.footer {
    margin-top: 10%;  /* Отступ сверху */
    margin-bottom: 3%; /* Отступ снизу */
    text-align: center;
}

#r {
    background-color: #c1e4fc; /* фон для формы */
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2% auto;
    max-width: 30%; /* Максимальная ширина формы */
    margin-top: 2%;
    font-size: large;
    color: #69c8fb; /* для расписания */
}



.container {
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: center; /* Центрируем содержимое */
    align-items: center; /* Выравниваем по центру по вертикали */
    margin: 20px; /* Отступы вокруг контейнера */
}
.auth-container {
    background-color: #cbecfc; /* Светло-голубой фон для формы авторизации */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}